/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* GENERAL */
html {
    font-family: 'Fredoka', sans-serif;
}

.MAIN-CONTAINER {
    margin: 0 auto;
    max-width: 1200px;
}




/* HEADER */
h1 {
    color: fuchsia;
    margin: 30px 470px
}




/* MAIN */
.columns {
    width: 270px;
    height: 70px;
    background-color: black;
    float: left;
    margin: 50px;
}
