/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* GENERAL */
html {
    font-family: 'Fredoka', sans-serif;
}

.MAIN-CONTAINER {
    margin: 0 auto;
    max-width: 1000px;
}


/* HEADER */
h1 {
    color: fuchsia;
    text-align: center;
    margin: 20px 0 30px;
}

p {
    text-align: center; 
}


/* MAIN */
.cards {
    width: 280px;
    height: 80px;
    background-color: black;
    float: left;
    margin: 15px;
    margin: 20px 15px;
    padding: 0;
}

img {
    width: 80px;
    height: 80px;
    float: left;
}

.info {
    color: white;
    float: left;
    margin: 5px;
}

a { 
    float: left;
    margin: 0;
    color: aqua;
    text-decoration: none;
}









/*.columns * {
    
}*/

/*.columns .img, .columns .info {
    width: 50%;
    float: left;
    color: white;
}*/